.loginBtn{
    background-color: transparent;
  border: 2px solid #03244D; /* color celeste en hexadecimal */
  color: #03244D; /* color celeste en hexadecimal */
  padding: 10px 20px;
  cursor: pointer;
  width: 110px;
}

.btnRegistrar {
    background-color: #03244D;
  border: 2px solid #03244D; /* color celeste en hexadecimal */
  color: white; /* color celeste en hexadecimal */
  padding: 10px 20px;
  cursor: pointer;
  width: 110px;
}


.navbar{
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.navbar li:hover .dropdown {
  display: block;
  }
  
  .dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  z-index: 1;
  }
  
  .dropdown li {
  padding: 12px 16px;
  }
  
  .dropdown li:hover {
  background-color: #f1f1f1;
  }